
  .debug_1{
    background-color: rgba(86, 255, 199, 0.247);
    min-height: 60px;
    border: 1px solid black;
}

  .debug_2{
    background-color: rgba(0, 0, 0, 0.247);
    min-height: 60px;
    border: 1px solid rgb(255, 1, 1);
}

/* general */

.my_container {
  margin: 0px auto;
  width: 95%;
}

.my_bold {
  font-weight: 600;
}

a{
  text-decoration: none;
}

.f_1{
  font-size: 1.5rem;
}

.f_2 {
  font-size: 1.2rem;
}

/* header  */

header{
  color: white;
  background-color: rgb(44, 62, 80);
  height: 70px;
}

.my_link {

  font-weight: 600;
}

/* jumbotron  */

#jumbotron {
  height: 400px;
  background-color: rgb(26, 188, 156);
}

#jumbotron img {
  width: 50%;
}

/* portfolio  */

#portfolio img{

}

/* about  */

#about{
  background-color: rgb(26, 188, 156);
}

.my_btn {
  width: 120px;
}

/* contanct  */

.my_form {
  width: 100%;
  padding: 6px 20px;
  margin: 0px 0px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(180, 180, 180);
  border-radius: 0px;
}